@{
    ViewBag.Title = "Home Page";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/assets/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> Test 12344566 CEH Test DevOps Project has been successfully setup</div>
            <div class="description line-2"> Your ASP.NET MVC app is up and running on Azure by CEH </div>
        </div>
    </div>
</div>